DB_URL=jdbc:mysql://localhost:3306/ry-vue?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT%2B8
DB_USERNAME=root
DB_PASSWORD=replace-me
TOKEN_SECRET=replace-with-at-least-32-random-characters
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
RUOYI_PROFILE=/var/lib/law-manage/uploads
SWAGGER_ENABLED=false
DRUID_STAT_ENABLED=false
DRUID_USERNAME=
DRUID_PASSWORD=
FLYWAY_ENABLED=true
